/*   6.2 - Mude a cor dos filmes que estreiam hoje para darkred. */
.hoje {
  color: darkred;
}
/*   6.3 - Mude a cor dos filmes que estreiam amanhã para darkblue. */
.amanha {
  color: darkblue;
}
/*   6.4 - Remova o sublinhado de todos os links do site. */
a {
  text-decoration: none;
}
/*   6.5 - Mude a cor dos links que estão dentro do título de nível 2 para seagreen. */
h2 a {
  color: seagreen;
}
/*   6.6 - Aumente a fonte dos parágrafos para 20px. */
p {
  font-size: 20px;
}
/*   6.7 - Mude a família da fonte de todo o site para Arial.*/
body {
  font-family: Arial;
}
