html {
  font-size: 10px;
  /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: "Open Sans", sans-serif;
  /* este deve ser o nome da fonte que você obteve no Google Fonts */
}

h1 {
  font-size: 60px;
  /* tamanho da fonte do cabeçalho */
  text-align: center;
  /* centralizando o texto */
}

p,
li {
  font-size: 16px;
  /* tamanho da fonte */
  line-height: 2;
  /* altura da linha */
  letter-spacing: 1px;
  /* espaçamento das letras */
}

img {
  max-width: 100%;
  /* a imagem não pode ser maior que o tamanho da tela */
  height: 250px
    /* a altura da imagem é ajustada automaticamente */
}

/* MUDANDO A COR DA PÁGINA */
html {
  background-color: #00539F;
  /* cor de fundo */
}

/* SEPARANDO O CORPO */
body {
  width: 600px;
  /* largura do corpo - Isso força o corpo a ter 600 pixels de largura */
  margin: 0 auto;
  /* centralizando o corpo - margin: 0 auto; — Quando você define dois valores em uma propriedade como margin ou padding, o primeiro valor afeta a parte superior do elemento e a parte inferior (tornando-os 0 nesse caso), e no segundo valor os lados esquerdo e direito (aqui, auto é um valor especial que divide o espaço horizontal uniformemente entre esquerda e direita). Você também pode utilizar um, três ou quatro valores */
  background-color: #FF9500;
  /* cor de fundo - isso define a cor de fundo do elemento */
  padding: 0 20px 20px 20px;
  /* preenchimento - temos quatro valores definidos no padding, para criar um pouco de espaço em torno do nosso conteúdo. Dessa vez, estamos definindo sem padding na parte superior do corpo, e 20 pixels no lado esquerdo, na parte inferior e no lado direito. Os valores definem a parte superior, o lado direito, a parte inferior e o lado esquerdo, nessa ordem. Como com a margin, você também pode usar um, dois, ou três valores, conforme documentado na sintaxe do padding */
  border: 5px solid black;
  /* borda - isso simplesmente define uma borda preta sólida de 5 pixels de largura em todos os lados do corpo. */
}

/* POSICIONANDO E ESTILIZANDO O TÍTULO PRINCIPAL */

h1 {
  margin: 0;
  /* margem - isso remove a margem padrão do elemento */
  padding: 20px 0;
  /* preenchimento - isso cria um pouco de espaço acima e abaixo do título */
  color: #00539F;
  /* cor - isso define a cor do texto */
  text-shadow: 3px 3px 1px black;
  /* sombra do texto - isso cria uma sombra de texto sutil, que é um pouco mais larga e mais alta que o texto real, e é preta. 
  
  O primeiro valor em pixel define o deslocamento horizontal da sombra do texto — até onde ele se move: um valor negativo deve movê-la para a esquerda.
O segundo valor em pixel define o deslocamento vertical da sombra do texto — o quanto ela se move para baixo, neste exemplo; um valor negativo deve movê-la para cima.
O terceiro valor em pixel define o raio de desfoque da sombra — um valor maior significará uma sombra mais borrada.
O quarto valor define a cor base da sombra.*/
}

/* CENTRALIZANDO A IMAGEM */

img {
  display: block;
  /* display - isso define o elemento como um bloco, o que significa que ele deve ser renderizado em uma nova linha, e que deve ocupar toda a largura disponível. */
  margin: 0 auto;
  /* margem - isso centraliza a imagem */
}