/* é possível importar a fonte direto no arquivo CSS */
  @import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

p{
    font-family: 'Kablammo', cursive;    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
}

h1{
    font-family: 'Kablammo', cursive;
    text-align: right;
    text-decoration: line-through;
}
